<div class="min-h-screen bg-gray-50 py-6 flex flex-col items-center justify-center relative overflow-hidden sm:py-12">
  <h1>MASTERMIND</h1>
  <h2>A lightweight Genius alternative</h2>
  
  <%= form_with url: "/search", method: :get, :html => { class: "w-1/2 pt-5" } do |form| %>
    <%= form.text_field :q,
     class:"py-3 px-4 w-full rounded shadow font-thin focus:outline-none focus:shadow-lg focus:shadow-slate-200 duration-100 shadow-gray-100",
     placeholder: "Search lyrics & more" %>
  <% end %>
</div>